.slide-box{
	width: 310px;
	height: 310px;
	overflow: hidden;
	margin: auto;
}
.slideBox{
	width: 310px;
	height: 310px;
}
.slideBox li {
	width: 310px;
	height: 310px;
}
.slideBox li img{
	max-width: 100%;
}