body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
    float: none;
    height: 0;
    overflow: hidden;
}



#container {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.items {
    z-index: 1;
    position: absolute;
}

.items .item{
    overflow: hidden;
    float: left;
}
.items img {
    float: left;
}

.buttons {
    width: 100%;
    height: 12px;
    line-height: 12px;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 10px;
}

.buttons span {
    cursor: pointer;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
    display: inline-block;
}

.buttons .on {
    background: orangered;
}

.arrow {
    width: 40px;
    height: 40px;
    line-height: 33px;
    cursor: pointer;
    display: none;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 180px;
    background-color: RGBA(0, 0, 0, .3);
    color: #fff;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
