div{margin:0;border:0;padding:0;}
#imgContainer{border:1px solid #000000;width:943px;height:354px;overflow:hidden;position:relative;margin: 30px auto;}
#imgContainer img{display:none;}
#imgMask{position:absolute;width:100%;height:100%;overflow:hidden;}
#imgMask .range{float:left;position:relative;}
#imgMask .range div{position:absolute;left:0;top:0;}	
#imgContainer .pageBar{position:absolute;z-index:99;right:10px;bottom:10px}
#imgContainer .pictureBar{z-index:99;}
.pageBar img, .pictureBar img{display:block !important;float:left;border:1px solid #666;margin:0px 2px 2px 2px;filter:alpha(opacity=50);-moz-opacity: .5;opacity: .5;}
.pageBar img.current, .pictureBar img.current{filter:alpha(opacity=100);-moz-opacity: 1;opacity: 1;display:block !important;}
.pageBar a{display:block;background:#000;border:1px solid #666;color:#fff;float:left;width:16px;font-size:12px;margin:2px;text-align:center;line-height :16px;font-family:Arial;cursor:pointer;text-decoration:none;}
.pageBar a:hover,.pageBar a.current{background:red;color:#fff;border:1px solid #600;border-top:1px solid #F96;border-left:1px solid #F96;}
