.grid-container{
	width: 1200px;
	margin: auto;
}
.grid-container:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}
.grid-main{
	width: 865px;
	height: 1900px;
	background: #aaa;
	float: left;
}
.blue{
	width: 100%;
	height: 400px;
	background-color: blue;
}
.red{
	width: 100%;
	height: 600px;
	background-color: red;
}
.grid-aside{
	width: 300px;
	margin-left: 15px;
	float: left;
}
.m-aside-widget{
	width: 300px;
	height: 400px;
	margin-top: 20px;
	background-color: #e5e5e5;
	border: 1px solid #ddd;
}
